.auto-found {
  font-size: 120%;
}

.auto-not-found {
  min-height: 200px;
  font-size: 130%;
  color: aqua;
}

.auto-ul {
  padding-left: 20px;
}

.App-Welcome .auto-complete {
  background-color: rgba(178, 56, 80, 1);
  position: absolute;
  top: 54.7%;
  border: 2px solid #ffffff;
  border-radius: 7px;
  overflow: auto;
  max-height: 300px;
  width: 41%;
  color: #ffffff;
}

.App .auto-complete {
  background-color: rgba(178, 56, 80, 1);
  position: absolute;
  top: 116px;
  border: 2px solid #ffffff;
  border-radius: 7px;
  overflow: auto;
  max-height: 300px;
  width: 59%;
  color: #ffffff;
}
