* {
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

.input-search,
.search-btn {
  height: 60px;
}

.search-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  width: 60%;
}

.input-search {
  padding-left: 5px;
  width: 70%;
  background: none;
  border: 2px solid #FFFFFF;
  border-right: 0px;
  border-radius: 7px 0 0 7px;
  color: #FFFFFF;
  font-size: 26px;
  outline: none;
}
.search-btn {
  width: 30%;
  background: none;
  border: 2px solid #FFFFFF;
  border-radius: 0 7px 7px 0;
  color: #FFFFFF;
  font-size: 26px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: rgba(250,250,250,0.3);
}

.search-btn:disabled {
  background: none;
  color: rgb(206, 139, 152);
  cursor: not-allowed;
}

.App-Welcome .input-search,
.App-Welcome .search-btn {
  height: 80px;
  font-size: 30px;
}
