.suggest-li {
  list-style: none;
  margin-bottom: 12px;
  cursor: pointer;
}

.suggest-span {
  text-decoration: underline;
  /*background-color: #3B8BEB;*/
  /*border-radius: 3px;*/
  padding: 3px 5px;
  /*border: 1px solid royalblue;*/
}

.suggest-span:hover {
  text-decoration: none;
  background-color: #3B8BEB;
  border-radius: 3px;
  padding: 3px 4px;
  border: 1px solid royalblue;
}
